@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html.dark {
  --background: #111111;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
}
